
.edit-blog-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-con {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
  }

.input-con {
    margin-bottom: 20px;
}
.input-con label{
    font-size: 20px;
}
.edit-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.edit-button:hover {
  background-color: #0056b3;
}